# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
logs/

# Database backups
database/backup/

# Generated reports
reports/*.csv
dashboard/*.xlsx

# Runtime cache
data/cache/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Python cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db