{% extends "base.html" %}

{% block content %}
<section class="panel">
  <div class="panel-title"><h2 data-i18n="label.aiLearningCenter">AI Learning Center</h2><span id="learning-time" class="badge text-bg-light" data-i18n="msg.noWeights">No learning yet</span></div>
  <div class="row g-3 mb-4">
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.model">Model</span><strong id="learning-model">-</strong></div></div>
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.recentRoi">Recent ROI</span><strong id="learning-roi">-</strong></div></div>
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.hit2">Hit 2+</span><strong id="learning-hit2">-</strong></div></div>
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.hit3">Hit 3+</span><strong id="learning-hit3">-</strong></div></div>
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.hit4">Hit 4+</span><strong id="learning-hit4">-</strong></div></div>
    <div class="col-6 col-xl-2"><div class="mini-metric"><span data-i18n="label.avgMatch">Avg Match</span><strong id="learning-avg">-</strong></div></div>
  </div>
  <div id="learning-weights" class="weight-grid mb-4"></div>
  <div class="row g-4">
    <div class="col-12 col-xl-4"><canvas id="learning-roi-chart" height="180"></canvas></div>
    <div class="col-12 col-xl-4"><canvas id="learning-hit-chart" height="180"></canvas></div>
    <div class="col-12 col-xl-4"><canvas id="learning-weight-chart" height="180"></canvas></div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="/static/js/pages/learning.js"></script>
{% endblock %}
